<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- include header -->
    <%- include('include/_header') %>
    <!-- /include header -->
    <section class="home-section">
        <div class="container-home">
            <div class="qouto">
                <h1>Home of high quality education</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum adipisci alias numquam nobis repellat nihil dolorem nulla quas consequuntur aspernatur fugiat error qui, praesentium repellendus veritatis et accusantium voluptates nostrum!</p>
            </div>

            <div>
                <img src="img/undraw_educator_re_ju47.svg" alt="">
            </div>
        </div>
    

    </section>

    <%- include('include/_footer') %>

</body>
</html>