<html>
    <body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="css/style.css">

<footer>
    <div class="container grid">
        <img src="./Images/logo.svg" alt="">
        <div class="col">
            <h4>Links</h4>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Pgaes</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <div class="col">
            <h4>Company</h4>
            <ul>
                
                <li>About Us</li>
                <li>Project</li>
                <li>Blog</li>
                <li>Contact</li>
            </ul>
        
        </div>
        <div class="col">
            <h4>Legel</h4>
            <ul>
                <li>Privacy</li>
                <li>Terms of use</li>
            </ul>
        </div>

        <div class="col contact">
            <div>
                
            <span>Email:</span>
            <a href="mailto: Yahye20025@gmail.com">Yahye20025@gmail.com</a>
            </div>
            <div>
                
            <span>Inquereis:</span>
            <a href="Tel:252617455789">252617455789</a>
            </div>

        <div class="socia-media">
            <h4>Follow us on</h4>
            <div class="items">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
            
        </div>
    </div>
    <div class="line"></div>
    <p class="copy">
        Copyright &copy; 2022 Eng.Yahye
    </p>
</footer>

</body>
</html>